h1 {
    color: rgb(96, 21, 79);
}
body {
    font-family: "Playfair Display", serif;
    background: url(bg_iage.jpg) no-repeat;
    background-color: rgba(255, 221, 2, 0.25);
    margin: 0;
}

header {
    background-color: #edb5d2;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header h1 {
    margin: 0;
    padding: 22px;
}

nav {
    display: flex;
    align-items: stretch;
}

.nav-links a {
    margin: 0;
    padding: 0 55px;
    color: rgb(96, 21, 79);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    background-color: rgb(172, 33, 128);
}

.etusivubox {
    align-items: center;
    margin: 250px 25px;
    padding: 20px;
}

.etusivubox h1 {
    margin: 0;
    font-size: 62px;
    color: #ac2180;
    text-align: center;
}

.homeimg {
    max-width: 100%;
    margin: 20px auto;

}

.etusivubox p {
    font-size: 20px;
    text-align: center;
}

.info {
    margin: 0px 25px;
    align-items: center;
}

.info img {
    dislplay: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin: 0px auto;
}

.info p {
    text-align: left;
    font-size: 20px;
}

.products img {
    height: 100%;
}

.productbox {
    margin: 25px 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.products {
    background-color: rgb(255, 255, 174);
    display: flex;
    max-width: 30%;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 200px;
    padding: 12px;
}

.products p {
    text-align: left;
}

.contactinfo {
    margin: 10px 25px;
    max-width: 30%;

}

.contacttext {
    display: inline-block;
}

.contactbox {
    display: flex;
}

.contactinfo {
    width: 33%;
    heigt: auto;
    margin: 20px 20px;
    padding: 30px;
    background-color: #edb5d2;
}

.contactbox img {
    margin: 30px 30px;
    padding: 30px;
    width: 60%;
    height: auto;
    background-color: #edb5d2;
}

